.App {
  text-align: center;
}

body {
  background-color: #000;
  
}

h1, h2, h3, h4, h5, p {
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.viewtrailer{
  min-height: 700px;
  background-size: cover;
  background-position:center;

  display: flex;
  align-items: flex-end;
}
.boton{
  background-color: #a12121;
  border: none;
  border-radius: 5px;
  color: white;
  outline: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-bottom: 10px;
}
.reproductor{
  width: 100%;
  height: 800px;
}
